body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}


.error-container {
    text-align: center;
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


h1 {
    color: #6a5acd;
    margin-bottom: 10px;
}


h2 {
    color: #6a5acd; 
    margin-bottom: 20px;
}


p {
    color: #333;
    font-size: 1.1em;
}
